# Ignoruj folder z plikami binarnymi
/build/

# Ignoruj folder z wynikami benchmarków
/results/

# Ignoruj folder z wykresami wyników
/plots/

# Ignoruj wirtualne środowisko python
/scripts/.venv/

# Ignoruj pliki wykonywalne
*.exe
*.dll
*.so
*.class

# Ignoruj pliki .csv
*.csv