# Ignoruj folder z plikami binarnymi
/build/

# Ignoruj folder z skryptami
/scripts/

# Ignoruj folder z wynikami benchmarków
/results/

# Ignoruj folder z wykresami wyników
/plots/

# Ignoruj folder z tabelami wyników
/tables/

# Ignoruj wirtualne środowisko python
/scripts/.venv/

# Ignoruj pliki wykonywalne
*.exe
*.dll
*.so
*.class

# Ignoruj pliki .csv
*.csv

#ignoruj pliki .DS_Store
*.DS_Store
.DS_Store
src/.DS_Store
